In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from statsmodels.graphics.correlation import plot_corr
import statsmodels.formula.api as smf
import statsmodels.api as sm
from sklearn.preprocessing import LabelEncoder
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [17]:
ed = pd.read_csv(r"https://raw.githubusercontent.com/mavet10ment/Hamoyequizz1/main/energydata_complete.csv",  parse_dates=[0])
#data set has been read

In [21]:
ed.head(3)
#checking the first three observation

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668

In [22]:
ed.dtypes
#checking for the types of data

date           datetime64[ns]
Appliances              int64
lights                  int64
T1                    float64
RH_1                  float64
T2                    float64
RH_2                  float64
T3                    float64
RH_3                  float64
T4                    float64
RH_4                  float64
T5                    float64
RH_5                  float64
T6                    float64
RH_6                  float64
T7                    float64
RH_7                  float64
T8                    float64
RH_8                  float64
T9                    float64
RH_9                  float64
T_out                 float64
Press_mm_hg           float64
RH_out                float64
Windspeed             float64
Visibility            float64
Tdewpoint             float64
rv1                   float64
rv2                   float64
dtype: object

Question 12

From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?

In [33]:
D1 = ed.columns[13]+' ~ '+ ed.columns[5]
D1
#creating an OLS model

'T6 ~ T2'

In [35]:
OlsModel = smf.ols(formula = D1, data=ed)
fitt = OlsModel.fit()
print(fitt.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                     T6   R-squared:                       0.642
Model:                            OLS   Adj. R-squared:                  0.642
Method:                 Least Squares   F-statistic:                 3.537e+04
Date:                Tue, 14 Feb 2023   Prob (F-statistic):               0.00
Time:                        11:14:06   Log-Likelihood:                -53524.
No. Observations:               19735   AIC:                         1.071e+05
Df Residuals:                   19733   BIC:                         1.071e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    -37.3495      0.242   -154.306      0.000     -37.824     -36.875
T2             2.2251      0.012    188.073      0.000       2.202       2.248
==============================================================================
Omnibus:                      842.252   Durbin-Watson:                   0.005
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              964.072
Skew:                          -0.510   Prob(JB):                    4.51e-210
Kurtosis:                       3.365   Cond. No.                         191.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [39]:
# Select feature for Linear Regression
X = ed[["T2"]]
y = ed["T6"]
# Dataset splited into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y)
# Linear Regression Model
linear_model1 = LinearRegression()
linear_model1.fit(X_train, y_train)

LinearRegression()

In [40]:
predict = linear_model1.predict(X_test)
print(f"r squared is: {round(r2_score(y_test, predict), 2)}")

r squared is: 0.63

Question 13

Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:

What is the Mean Absolute Error (in two decimal places)?

In [42]:
ed1 = ed.drop(["date", "lights"], axis=1) # unwanted columns are dropped

In [49]:
# Dataset normalized with MinMaxScaler
sca = MinMaxScaler()
normalised_ed = pd.DataFrame(sca.fit_transform(ed1), columns=ed1.columns)
# Selection of feature
X = normalised_ed.drop(["Appliances"], axis=1)
y = normalised_ed["Appliances"]
# Split the dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
# Train the Model
linearModel = LinearRegression()
linearModel.fit(X_train, y_train)

LinearRegression()

In [50]:
pre = linearModel.predict(X_test)
print(f"mean absolute error is: {round(mean_absolute_error(y_test, pre), 2)}")

mean absolute error is: 0.05

Question 14

What is the Residual Sum of Squares (in two decimal places)?

In [51]:
print(f"residual sum of squares is : {round(np.sum(np.square(y_test -pre)), 2)}")

residual sum of squares is : 45.35

Question 15

What is the Root Mean Squared Error (in three decimal places)?

In [52]:
print(f"Root mean square error: {round(np.sqrt(mean_squared_error(y_test, pre)), 3)}")

Root mean square error: 0.088

Question 16

What is the Coefficient of Determination (in two decimal places)?

In [53]:
print(f"coefficient of determination (r squared) is: {round(r2_score(y_test, pre), 2)}")

coefficient of determination (r squared) is: 0.15

Question 17

Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [55]:
ed_weights = pd.DataFrame(data={"weights":linearModel.coef_}, index=X_train.columns); ed_weights

              weights
T1          -0.003281
RH_1         0.553547
T2          -0.236178
RH_2        -0.456698
T3           0.290627
RH_3         0.096048
T4           0.028981
RH_4         0.026386
T5          -0.015657
RH_5         0.016006
T6           0.236425
RH_6         0.038049
T7           0.010319
RH_7        -0.044614
T8           0.101995
RH_8        -0.157595
T9          -0.189941
RH_9        -0.039800
T_out       -0.321860
Press_mm_hg  0.006839
RH_out      -0.077671
Windspeed    0.029183
Visibility   0.012307
Tdewpoint    0.117758
rv1          0.000770
rv2          0.000770

In [56]:
# Maximum Weight feature
ed_weights["weights"].idxmax()

'RH_1'

In [57]:
# Minimum Weight
ed_weights["weights"].idxmin()

'RH_2'

Question 18

Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [58]:
ridgeModel = Ridge(alpha=0.4)
ridgeModel.fit(X_train, y_train)

Ridge(alpha=0.4)

In [60]:
pred = ridgeModel.predict(X_test)
print(f"Root mean square error: {round(np.sqrt(mean_squared_error(y_test, pred)), 3)}")

Root mean square error: 0.088

Question 19

Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [61]:
lassoModel = Lasso(alpha = 0.001)
lassoModel.fit(X_train, y_train)

Lasso(alpha=0.001)

In [62]:
weights_df = pd.DataFrame(data={"weights":lassoModel.coef_}, index=X_train.columns)
weights_df

              weights
T1           0.000000
RH_1         0.017880
T2           0.000000
RH_2        -0.000000
T3           0.000000
RH_3         0.000000
T4          -0.000000
RH_4         0.000000
T5          -0.000000
RH_5         0.000000
T6           0.000000
RH_6        -0.000000
T7          -0.000000
RH_7        -0.000000
T8           0.000000
RH_8        -0.000110
T9          -0.000000
RH_9        -0.000000
T_out        0.000000
Press_mm_hg -0.000000
RH_out      -0.049557
Windspeed    0.002912
Visibility   0.000000
Tdewpoint    0.000000
rv1         -0.000000
rv2         -0.000000

Question 20

What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [64]:
pre_df = lassoModel.predict(X_test)
print(f"Root mean square error: {round(np.sqrt(mean_squared_error(y_test, pre_df)), 3)}")

Root mean square error: 0.094