<a href="https://colab.research.google.com/github/mavet10ment/Hamoyequizz1/blob/main/Martha's_tag_along_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! git clone https://github.com/mavet10ment/Hamoyequizz1.git

Cloning into 'Hamoyequizz1'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (3/3), done.

In [ ]:
import pandas as pd
A = pd.read_csv('C:\Users\Dr McAuley\Downloads.csv', encoding= 'latin-1')

SyntaxError: ignored

i could not read the data. my answers were guess work

In [ ]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [ ]:
array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

i did not understand this particular question

In [ ]:
import numpy as np
array  = ([[94, 89, 63],

            [93, 92, 48],

             [92, 94, 56]])
array[:1 , 1:]

TypeError: ignored

In [ ]:
Q =[(2,4),(7,8),(1,5,9)]
A = Q[1][-1]
A

8

In [ ]:
import pandas as pd
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']
pd.Dataframe(lst, columns = col, index = [1,2,3])

AttributeError: ignored

In [ ]:
import pandas as pd
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']


pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

i did this after i had submitted.